@import "variables";
@import '../node_modules/bootstrap/scss/mixins/breakpoints';

.card {
    background: $secondary;
    border-radius: $border-radius;
    padding: 1.3rem;
    margin-bottom: 1.3rem;

    @include media-breakpoint-up(lg) {
        margin-bottom: 0;
    }
}
