$primary: #07070a;
$secondary: #0d0d14;
$warning: #e49d62;

$body-color: #ffffff;
$link-color: #58a6ff;
$body-bg: $primary;

$theme-colors: (
);
$colors: (
);

// Borders
$border-radius: .7rem;
$border-radius-lg: .7rem;

// Font sizes
$font-size-base: 1rem;
$display-font-sizes: (
);

// Features
$enable-smooth-scroll: false;