.container {
    overflow-wrap: break-word;
    position: absolute;
    width: 100%;
    font-family: 'isoct2regular';
    color: #1c1c24;
    z-index: -1;
    height: 102vh;
    overflow: hidden;
    top: -1vh;
}
