.container {
    overflow-wrap: break-word;
    position: absolute;
    width: 100%;
    font-family: 'isoct2regular';
    color: hsl(240, 13%, 28%);
    z-index: -1;
    overflow: hidden;
    top: -150px;
}
