@import "globals/variables";

.link {
    color: $body-color  !important;
    text-decoration: none !important;

    &:hover {
        .title {
            color: $warning;
        }
    }
}

.technology-list {
    font-weight: bold;
    overflow: hidden;
}

.technology {
    padding: 0.1rem 0.5rem;
    font-weight: bold;
    color: hsl(240, 13%, 28%);
    font-family: $font-family-monospace;
}
