@import "variables";

section {
    &.hero {
        padding-top: 0;
        padding-bottom: 0;
        height: 100vh;
        margin-top: -62px;
        display: flex;
        align-items: center;

        h1 {
            text-align: left;
            font-size: $font-size-base * 3;
        }
    }
}
