@import "variables";
@import '../node_modules/bootstrap/scss/mixins/breakpoints';

.link {
    color: #ffffff;
    text-decoration: none;

    &:hover {
        color: #ffffff;
        text-decoration: none;

        .title {
            color: $warning;
        }
    }
}

.card {
    padding: 0;
}

.image {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.body {
    padding: 1.3rem;
}
