@import "globals/variables";

.card {
    padding: 0;
}

.link {
    color: $body-color  !important;
    text-decoration: none !important;

    &:hover {
        .title {
            color: $warning;
        }
    }
}

.image {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.body {
    padding: 1.3rem;
}
