@import "variables";

.stage {
    background-color: transparent;
}

.title {
    font-size: 2.7rem;
    margin-bottom: 2rem;
    font-weight: bolder;
}

.description {
    font-size: 1.2rem;
}

.icon {
    font-size: 4rem;
}
