$primary: #07070a !default;
$secondary: #0d0d14 !default;
// $warning: #e9ae7e !default;
$warning: #e49d62 !default;

$body-bg: $primary !default;
$body-color: #ffffff !default;

$link-color: #58a6ff !default;

$font-size-base: 1.01rem !default; // Assumes the browser default, typically `16px`
$h1-font-size: $font-size-base * 2.6 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.50 !default;
$h4-font-size: $font-size-base * 1.25 !default;
$h5-font-size: $font-size-base * 1.15 !default;
$h6-font-size: $font-size-base * 1 !default;

// scss-docs-start border-radius-variables
$border-radius:               .7rem !default;
$border-radius-sm:            .2rem !default;
$border-radius-lg:            .3rem !default;
$border-radius-pill:          50rem !default;
// scss-docs-end border-radius-variables

$lead-font-size:              $font-size-base * 1.5 !default;
$lead-font-weight:            500 !default;


// $list-group-color:                  $gray-900;
$list-group-bg:                     none;
$list-group-border-color:           none;
$list-group-border-width:           0;
$list-group-border-radius:          0;

// $list-group-item-padding-y:         $spacer * .5;
// $list-group-item-padding-x:         $spacer;
// $list-group-item-bg-scale:          -80%;
// $list-group-item-color-scale:       40%;

// $list-group-hover-bg:               $gray-100;
// $list-group-active-color:           $component-active-color;
// $list-group-active-bg:              $component-active-bg;
// $list-group-active-border-color:    $list-group-active-bg;

// $list-group-disabled-color:         $gray-600;
// $list-group-disabled-bg:            $list-group-bg;

// $list-group-action-color:           $gray-700;
// $list-group-action-hover-color:     $list-group-action-color;

// $list-group-action-active-color:    $body-color;
// $list-group-action-active-bg:       $gray-200;

$enable-smooth-scroll:        false !default;


$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
) !default;
// scss-docs-end container-max-widths